@model IEnumerable<ContaDomain.Entities.Conta>

    
</br></br>
<a href="Conta/Create" class="btn btn-primary">Nova Conta</a>
</br></br>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data Leitura</th>
                <th>Numero Leitura</th>
                <th>Quantidade Kw</th>
                <th>Valor Conta</th>
                <th>Data Pagamento</th>
                <th>Media de Consumo</th>
                <th>Cidade</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        @foreach(var item in Model)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.dataLeitura</td>
                <td>@item.numeroLeitura</td>
                <td>@item.qtdKw</td>
                <td>@item.valorConta</td>
                <td>@item.dataPagamento</td>
                <td>@item.mediaConsumo</td>
                <td>@item.imovel.Cidade</td>
                <td><a class="btn btn-danger"
                    href="Conta/Delete/@item.id">Delete</a> </td>
                <td><a class="btn btn-primary" 
                    href="Conta/Edit/@item.id">Editar</a> </td>
            </tr>
        }
    </table>
    <br>
    <hr>  
</div>
        <div class="col-sm-12">
            <h3>Maior Consumo</h3>
            <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data Leitura</th>
                    <th>Numero Leitura</th>
                    <th>Quantidade Kw</th>
                    <th>Valor Conta</th>
                    <th>Data Pagamento</th>
                    <th>Media de Consumo</th>
                    <th>Cidade</th>
                </tr>
            </thead>
                <tr>
                    <td>@ViewBag.Maximo.id</td>
                    <td>@ViewBag.Maximo.DataLeitura</td>
                    <td>@ViewBag.Maximo.NumeroLeitura</td>
                    <td>@ViewBag.Maximo.Qtdkw</td>
                    <td>@ViewBag.Maximo.ValorAPagar</td>
                    <td>@ViewBag.Maximo.DataPagamento</td>
                    <td>@ViewBag.Maximo.MediaConsumo</td>
                    <td>@ViewBag.Maximo.imovel.Cidade</td>
                </tr>
        </table>
        </div>
        <div class="col-sm-12">
            <h3>Menor Consumo</h3>
            <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data Leitura</th>
                    <th>Numero Leitura</th>
                    <th>Quantidade Kw</th>
                    <th>Valor Conta</th>
                    <th>Data Pagamento</th>
                    <th>Media de Consumo</th>
                    <th>Cidade</th>
                </tr>
            </thead>
                <tr>
                    <td>@ViewBag.Minimo.id</td>
                    <td>@ViewBag.Minimo.DataLeitura</td>
                    <td>@ViewBag.Minimo.NumeroLeitura</td>
                    <td>@ViewBag.Minimo.Qtdkw</td>
                    <td>@ViewBag.Minimo.ValorAPagar</td>
                    <td>@ViewBag.Minimo.DataPagamento</td>
                    <td>@ViewBag.Minimo.MediaConsumo</td>
                    <td>@ViewBag.Minimo.imovel.Cidade</td>
                </tr>
        </table>
        </div>   
    </div> 
</div>